<form method="POST" action="{% url 'carts:add' %}">
    {% csrf_token  %}
    <input type="hidden" name="product_id" value="{{product.id}}">
    <div class="">
        <button type="button" class="btn btn-info d-inline" id="remove">-</button>
        <input type="number" id="quantity" name="quantity" value="1" class="form-control col-sm-1 d-inline" readonly>
        <button type="button" class="btn btn-info" id="add">+</button>
    </div>
    <div class="mt-2">
        <button type="submit" class="btn btn-warning">Agregar al carrito</button>
    </div>
</form>

<script>
    const add = document.getElementById('add')
    const remove = document.getElementById('remove')
    const quantify = document.getElementById('quantity')

    add.addEventListener('click',function(){
        quantify.value = parseInt(quantify.value)+1
    })

    remove.addEventListener('click',function(){
        value = parseInt(quantify.value)
        if(value !=1){
            value = value - 1
        }
        quantify.value = value
    })
</script>